*{
    margin: 0;
    padding: 0;
}
#canvas{
    border: 1px solid white;
    background-color: aqua;
}
.game{
    display: flex;
    justify-content: center;
}
#p1{
    color: darkblue;
    text-align: center;
    font-size: 30px;
    font-family: 'system-ui', sans-serif;
}
